<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Conférence </title>
</head>
<body>
<form action="/conférences/nouvelleConférence" method="post">
    <div class="mb-3">
        <label for="id" class="form-label">Id de Conférence </label>
        <input type="text" class="form-control" id="id" name="id" required>
    </div>
    <div class="mb-3">
        <label for="titre" class="form-label">Id de Conférence </label>
        <input type="text" class="form-control" id="titre" name="titre" required>
    </div>
    <div class="mb-3">
        <label for="date" class="form-label">date de Conférence </label>
        <input type="text" class="form-control" id="date" name="date" required>
    </div>
    <div class="mb-3">
        <label for="heuredebut" class="form-label">date de Conférence </label>
        <input type="text" class="form-control" id="heuredebut" name="heuredebut" required>
    </div>
</form>
</body>
</html>